.care {
  margin-left: 4rem;
  margin-right: 4rem;

}



.navbar-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;

  

}
.nav-menu-align {
  margin-right: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  /* font-family: "poppins"; */
  cursor: pointer;
}
.logo {
  width: 11rem;
  height: 7rem;

}
.nav-book {
  border-radius: 16px;
    width: 12rem;
    height: 2rem;
    color: white;
    background-color: #8F39FF;
    border-width: 0px;
}
.care-content {
width: 44rem;
padding: 9px;
margin-bottom: 17rem;
}
.content-head {
  font-size: 40px;
  line-height: 1.4;
}
.content {
  font-size: 23px;
  width: 33rem;
}
.care-logo-container {
  position: absolute;
  top: 3px;
  left: 30rem;
}
.care-logo {
  width: 64rem;
}
.retail-menu-align {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.retail-container {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;

}
.retail-logo {
  width: 4rem;
}
.retail-head {
  color: #8F39FF;
  font-weight: bold;
  font-size: 14px;
}
.provider-head {
  color: #333333;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 7px

}
.care-logo-img {
  width: 4rem;
    margin-left: 30px;
}

@media only screen and (max-width: 961px) {
  .care {
    margin-left: 15px;
    margin-right: 15px;
  

  }
  .navbar-align {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: transparent;
  
    
  
  }
  .nav-menu-align {
    margin-right: 10px;
    font-size: 7px;
    font-style: normal;
    font-weight: bold;
    /* font-family: "poppins"; */
    cursor: pointer;
  }
  .logo {
    width: 5rem;
    height: 6rem;
  
  }
  .nav-book {
    border-radius: 16px;
      width: 80px;
      height: 2rem;
      color: white;
      background-color: #8F39FF;
      border-width: 0px;
  }
  .care-content {
    width: 24rem;
    padding: 9px;
    margin-bottom: 17rem;
    }
    .content-head {
      font-size: 19px;
      line-height: 1.4;
    }
    .content {
      font-size: 14px;
      width: 22rem;
    }
    .care-logo-container {
      position: absolute;
      top: 16rem;
      left: 2rem
    }
    .care-logo {
      width: 22rem;
    }
    .retail-container {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      align-items: center;
    
    }
    .retail-logo {
      width: 3rem;
    }
    .retail-head {
      color: #8F39FF;
      font-weight: bold;
      font-size: 13px;
    }
    
  
}
